<app-data-table 
    title="Employees"
    [header-list]="headerList"
    [data-list]="empList"
    [field-list]="fieldList"
    bg-color="success"
    text-color="white"
>
</app-data-table>
<!-- <div class="card">
    <div class="card-header bg-dark text-white">
        Employees
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Salary</th>
                    <th>Dept Id</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of empList">
                    <td>{{emp.id}}</td>
                    <td>{{emp.name}}</td>
                    <td>{{emp.salary}}</td>
                    <td>{{emp.deptId}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->