<div class="row">
    <div class="col-sm-2">
        Select Country : 
    </div>
    <div class="col-sm-4">
        <!-- <select name="country" class="form-control" [(ngModel)]="selectedCountry">
            <option value="-1">-:Select Country:-</option>
            <option *ngFor="let country of countryList" [ngValue]="country">{{country.name}}</option>
        </select> -->
        <app-my-dropdown
            [name]="'country'"
            [data-list]="countryList"
            [label]="'Select Country'"
            [selected-item]="selectedCountry"
            (get-selected-item)="getSelectedCountry($event)"
        >            
        Select Country : 
        </app-my-dropdown>
    </div>
    <div class="col-sm-2">
        Select State : 
    </div>
    <div class="col-sm-4">
        <!-- <select name="state" class="form-control" [(ngModel)]="selectedState">
            <option value="-1">-:Select State:-</option>
            <option *ngFor="let state of statesList" [ngValue]="state">{{state.name}}</option>
        </select> -->
        <app-my-dropdown
            [name]="'state'"
            [data-list]="statesList"
            [label]="'Select State'"
            [selected-item]="selectedState"
            (get-selected-item)="getSelectedState($event)"
        >    
        Select State :         
        </app-my-dropdown>
    </div>
</div>
<div class="row m-1">
    <div class="col-sm-6">
        Selected Country is : {{selectedCountry.id}} - {{selectedCountry.code}} - {{selectedCountry.name}}
    </div>
    <div class="col-sm-6">
        Selected State is : {{selectedState.id}} - {{selectedState.code}} - {{selectedState.name}}
    </div>
</div>