<app-data-table 
    title="Departments"
    [header-list]="headerList"
    [data-list]="deptList"
    [field-list]="fieldList"
    bg-color="dark"
    text-color="white"
>
</app-data-table>
<!-- <div class="card">
    <div class="card-header bg-info text-dark">
        Departments
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Dept Code</th>
                    <th>Dept Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dept of deptList">
                    <td>{{dept.id}}</td>
                    <td>{{dept.code}}</td>
                    <td>{{dept.deptName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->