<div class="row">
    <div class="col-sm-3">
        Enter First Number : 
    </div>
    <div class="col-sm-3">
        <!-- <input type="text" name=n1 class="form-control" #no1> -->
        <input type="text" name=n1 class="form-control" [(ngModel)]="number1">
        <!-- {{number1}} -->
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        Enter Second Number :         
    </div>
    <div class="col-sm-3">
        <!-- <input type="text" name=n2 class="form-control" #no2> -->
        <input type="text" name=n1 class="form-control" [(ngModel)]="number2">
    </div>
</div>
<div class="row">
    <div class="col">
        <!-- <button class="btn btn-success m-1" (click)="plus(no1.value,no2.value)">+</button>
        <button class="btn btn-primary m-1" (click)="minus(no1.value,no2.value)">-</button>
        <button class="btn btn-warning m-1" (click)="mul(no1.value,no2.value)">*</button>
        <button class="btn btn-danger m-1" (click)="div(no1.value,no2.value)">/</button> -->
        <button class="btn btn-success m-1" (click)="plus()">+</button>
        <button class="btn btn-primary m-1" (click)="minus()">-</button>
        <button class="btn btn-warning m-1" (click)="mul()">*</button>
        <button class="btn btn-danger m-1" (click)="div()">/</button>
    </div>
</div>
<div class="row">
    <div class="col">
        Result Is : {{result}}
    </div>
</div>