<div class="container">
  <div class="row">
    <div class="col">
      <h1>
        Hello Radhe Krishna...!
      </h1>
    </div>
    <div class="col">
      <p>
        {{name}} {{5*5}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header bg-dark text-warning">
          Personal Information
        </div>
        <div class="card-body">
          <app-personal-info></app-personal-info>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <app-friends></app-friends>
    </div>    
  </div>
  <div class="row">
    <div class="col-sm-6">
      <app-education-details> </app-education-details>
    </div>
    <div class="col-sm-6">
      <app-skills></app-skills>
    </div>
  </div>
</div>